/* theme */
@import "compass/css3/images";
@import "compass/css3";
@import url(http://weloveiconfonts.com/api/?family=typicons|brandico|entypo|zocial|iconicfill|fontawesome);
@import url(http://fonts.googleapis.com/css?family=Text+Me+One|Chau+Philomene+One|Source+Code+Pro:400);

$bg_body: #333;

html,
body {
  width:100%;
  height:100%;
}

* {
  &::-moz-selection,
  &::selection { 
    color: rgba(0, 0, 0, .9);  
    background: rgba(255, 255, 255, .5); 
  } 
}

body[data-theme='weloveiconfonts'] {
  font: 1.2em/1.4em "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
  color: rgba(255, 255, 255, .9);  
  background-color:$bg_body;
  
  h1 {
    font: 3.35em/1.55em 'Text Me One', sans-serif;
    letter-spacing:.15em;
    font-variant: small-caps;
    color:rgba(255, 255, 255, .8);
    margin:.4em 0;
  }

  h2 {
    font: 1.95em/1.3em 'Chau Philomene One', sans-serif;
    letter-spacing:.05em;
    border-bottom:.05em solid rgba(255, 255, 255, .5);
    padding:0 0 .5em 0;
    margin:.25em 0 .5em 0;
    color: rgba(255, 255, 255, .95);

    > span {
      font-size:1.2em;
    }
  }

  h3 {
    font: 1.15em/1.3em 'Chau Philomene One', sans-serif;
    font-weight:normal;
    letter-spacing:.05em;
    margin:.75em 0 .65em 0;
  }

  a,
  a:visited,
  a:active {
    text-decoration:none;
    color:rgba(255, 255, 255, .9);
    border-bottom:.1em solid rgba(255, 255, 255, .3);
    padding-bottom:.15em;
    @include transition(all .3s ease-in-out);
  }

  a:hover {
    color:rgba(255, 255, 255, 1);
    border-bottom:.1em solid rgba(255, 255, 255, .9);
  }

  p, ul {
    margin:.25em 0 .45em 0;
  }

  hr {
    background:none;
    border:none;
    border-bottom:0.15em  solid rgba(255, 255, 255, .2);
    margin:2.15em 0 1.75em 0;
  }

  button[data-width="50"] {
    width:50%;
  }

  button[data-width="33"] {
    width:33.3%;
  }

  button[data-high='1'] {
    background: hsla(60, 90%, 60%, .7);
  }

  button[data-high='2'] {
    background: hsla(110, 90%, 60%, .7);
  }

  button[data-high='3'] {
    background: hsla(210, 90%, 60%, .7);
  }

  button[data-high='4'] {
    background: hsla(280, 90%, 60%, .7);
  }

  button[data-high='5'] {
    background: hsla(360, 90%, 60%, .7);
  }

  article {
    margin-top: 0;
  }

  article[data-high] {
    margin-bottom:5em;
  }

  article[data-text] {
    margin-top:4em;
  }

  article[data-text]:after {
    content:attr(data-text);
    top:.75em;
    left:auto;
    left:.25em;
    color:rgba(0, 0, 0, 0);
    font-size:9em;
    z-index:-1;
    text-shadow:0 0 .065em rgba(0, 0, 0, .7);
  }

  article[data-high="1"] {y
    p {
      font: 1.2em/1.75em 'Text Me One', sans-serif;
    }
  }

  article[data-high="2"],
  article[data-high="3"] {
    @include background(
      linear-gradient(right, rgba(206, 190, 41, .3) 0%, rgba(155, 31, 80, .3) 33%, rgba(41, 137, 216, .3) 71%, rgba(137, 180, 255, .3) 95%),
      linear-gradient(top, rgba(206, 190, 41, .6) 0%, rgba(155, 31, 80, .3) 33%, rgba(41, 137, 216, .7) 71%, rgba(137, 180, 255, .7) 95%),
      linear-gradient(left, rgba(206, 190, 41, .6) 0%, rgba(155, 31, 80, .6) 33%, rgba(41, 137, 216, .6) 71%, rgba(137, 180, 255, 1) 95%)
    );
    background-attachment:fixed;

    padding-bottom:1em;
    box-shadow:0 .35em .85em rgba(0, 0, 0, .3);

    p {
      font: 1.2em 'Text Me One', sans-serif;
    }
  }

  article[data-high="4"] {
    div {
      padding:1.5em 1em;
    }

    a {
      border:none;
    }
  }

  article[data-high="5"] {
    background: rgba(56, 188, 98, .4);
    box-shadow:
      0 -.25em 0 .25em rgba(56, 188, 98, .4),
      0 .25em 0 .25em rgba(56, 188, 98, .4),
      -.45em 0 .45em rgba(0, 0, 0, .2);
    ;
    border-top:.25em dashed $bg_body;
    border-bottom:.25em dashed $bg_body;
  }

  section {
    padding: 0 1em;
  }

  section > div {
    display:block;
    padding:.95em 0 .25em 0;
  }

  section[data-valign='center'] {
    text-align:center;
  }

  section[data-valign='right'] {
    text-align:right;
  }

  section[data-name='preview'] {
    padding-bottom:1.85em;

    // Small mode (@TODO: [TimPietrusky] - Minimal list view)
    &.minimal {
      max-height:7.25em;
      overflow-y:auto;
    }
  }

  section[data-name='output'] {
    padding-bottom:1.85em;
  }

  footer {
    color:rgba(0, 0, 0, .7);
    font: 1.25em 'Text Me One', sans-serif;
  }

  pre,
  textarea {
    font-family:'Source Code Pro', monospace;
    margin:0;
    background:rgba(255, 255, 255, .3);
    padding:1.75em .5em 0 1em;
    white-space: pre-wrap;
    color: rgba(0, 0, 0, 1);  
    line-height: 1.75em;

    &[data-type="1"]:hover,
    &[data-type="3"]:hover {
      box-shadow:none;
      @include transform(translate3d(
        -6px, 6px, 0
      ));
    }
  }

  .plain {
    width:100%;
    display:block;
    font-family: 'Text Me One', sans-serif;
  }

  pre {
    background: rgba(255, 255, 255, .5); 

    span {
      color:rgba(193, 31, 36, .9);
      font-weight:bold;

      &.url {
        color:rgba(0, 62, 102, .9);
      }

      &.css {
        color:rgba(200, 60, 0, .9);
      }
    }
  }

  pre[data-text] {
    position:relative;
    margin-top:2em;
  }

  pre[data-text]:after {
    content:attr(data-text);
    top:-1.25em;
    font: bold 1.25em/1em "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    letter-spacing:.05em;
    color:#666;
  }

  ul {
    list-style-type: none;

    li {
      position:relative;
      float:left;
      width:10%;
      height:10%;
      padding:.5em 0;
      @include transition(all .25s ease-out);

      &:hover {
        cursor:pointer;
        padding:.5em;
        @include transform(scale(1.5, 1.5));
        z-index:2;

        &:after {
          position:absolute;
          bottom:-2em;
          right:1.5em;
          min-height:2em;
          content:attr(data-text);
          background:rgba(0, 0, 0, .6);
          padding:.35em;
          font: .55em 'Chau Philomene One', sans-serif;
          letter-spacing: .15em;
          vertical-align: middle;
        }
      }
    }
  }

  li.active {
    background: rgba(0, 0, 0, .5);
    @include transition(all .25s ease-out);
  }

  [class^="typicons-"]:before, [class*=" typicons-"]:before {
    font-family:'Typicons', sans-serif;
    font-size:1.25em;
  }

  [class^="brandico-"]:before, [class*=" brandico-"]:before {
    font-family:'brandico', sans-serif;
  }

  [class^="entypo-"]:before, [class*=" entypo-"]:before {
    font-family:'entypo', sans-serif;
  }

  [class^="fontawesome-"]:before, [class*=" fontawesome-"]:before {
    font-family:'FontAwesome', sans-serif;
  }

  [class^="iconicfill-"]:before, [class*=" iconicfill-"]:before {
    font-family:'IconicFill', sans-serif;
  }

  [class^="zocial-"]:before, [class*=" zocial-"]:before {
    font-family:'zocial', sans-serif;
  }

  .example {
    font-size:2.5em;
    line-height:1.5em;
  }

  .meta {
    display:none;
    font-size:.65em;
  }

  article[data-text].brandico:after {
    content:'\f308 \f303 \f300';
    letter-spacing:.45em;
    font-family:'brandico', sans-serif;
  }

  article[data-text].entypo:after {
    content:'\e723 \e79b \2692';
    letter-spacing:.45em;
    font-family:'entypo', sans-serif;
  }

  article[data-text].fontawesome:after {
    content:'\f025 \f075 \f083';
    letter-spacing:.45em;
    font-family:'FontAwesome', sans-serif;
  }

  article[data-high="1"].fontawesome:after {
    position:fixed;
    width:100%;
    z-index:-1;
    top:.5em;
    content:'\f004 \A \f08a \A \f005';
    font: 20em/.85em 'FontAwesome', sans-serif;
    color:rgba(0, 0, 0, .3);
    text-shadow:0 0 .025em rgba(200, 200, 200, .1);
    letter-spacing:.45em;
    text-align:center;
  }

  article[data-text].typicons:after {
    content:'A B C';
    font-family:'Typicons', sans-serif;
  }

  article[data-text].zocial:after {
    content:'A B C';
    letter-spacing:.25em;
    font-family:'zocial', sans-serif;
    line-height:.05em;
  }

  ul {
    /*
    font-family:'brandico';
    font-family:'entypo';
    font-family:'FontAwesome';
    font-family:'fontelico';
    font-family:'IconicFill';
    font-family:'IconicStroke';
    font-family:'maki';
    font-family:'Typicons';
    font-family:'zocial';
    */
  }

textarea[data-name="text"],
section[data-name="preview"] {
  width:100%;
  background-size: 100% 1.75em;
  overflow-x:hidden;
  resize:none;

  &::-webkit-scrollbar {
    width: 1.25em;
  }
 
  &::-webkit-scrollbar-track {
    background: rgba(white, .2);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(white, .5);
  }
}

button,
pre,
textarea {
    position: relative;
    text-decoration: none;
    display: inline-block;
    z-index:1;
    outline:none;
    border:none;
    @include transition(all .1s ease-in-out);
    @include transform(translateZ(0));
    
    &[data-type="1"] {    
      @include background(
        linear-gradient(bottom, rgba(0, 0, 0, .3) 0%, transparent 2%),
        linear-gradient(top, rgba(162, 211, 233, .7), rgba(122, 190, 223, .7))
      );
      background-size: 
        100% 1.75em,
        100% 100%
      ;
      
      box-shadow:
        -1px 0px 1px #6fadcb, 0px 1px 1px #54809d,
        -2px 1px 1px #6fadcb, -1px 2px 1px #54809d,
        -3px 2px 1px #6fadcb, -2px 3px 1px #54809d,
        -4px 3px 1px #6fadcb, -3px 4px 1px #54809d,
        -5px 4px 1px #6fadcb, -4px 5px 1px #54809d,
        -6px 5px 1px #6fadcb,
        
        -6px 7px  0 rgba(black, 0.05),
        -5px 8px  0 rgba(black, 0.05),
        -3px 9px  0 rgba(black, 0.04),
        -2px 10px 0 rgba(black, 0.04),
        -1px 11px 0 rgba(black, 0.03),
         0px 12px 0 rgba(black, 0.03),
         1px 13px 0 rgba(black, 0.02),
         2px 14px 0 rgba(black, 0.02),
         3px 15px 0 rgba(black, 0.01),
         4px 16px 0 rgba(black, 0.01),
         5px 17px 0 rgba(black, 0.01),
         6px 18px 0 rgba(black, 0.01),
      
      inset 0 4px 5px -2px rgba(white, 0.5),
      inset 0 1px 0 0 rgba(black, 0.3);
    }
    &[data-type="2"] {
      @include background(linear-gradient(top, rgba(242, 216, 81, 1), rgba(236, 201, 43, 1)));
      color: black;
      text-shadow: -2px 2px 0 rgba(white, 0.3);
      box-shadow:
        -1px 0px 1px #d9b826, 0px 1px 1px #b1961d,
        -2px 1px 1px #d9b826, -1px 2px 1px #b1961d,
        -3px 2px 1px #d9b826, -2px 3px 1px #b1961d,
        -4px 3px 1px #d9b826, -3px 4px 1px #b1961d,
        -5px 4px 1px #d9b826, -4px 5px 1px #b1961d,
        -6px 5px 1px #d9b826,
        
        -6px 7px  0 rgba(black, 0.05),
        -5px 8px  0 rgba(black, 0.05),
        -3px 9px  0 rgba(black, 0.04),
        -2px 10px 0 rgba(black, 0.04),
        -1px 11px 0 rgba(black, 0.03),
         0px 12px 0 rgba(black, 0.03),
         1px 13px 0 rgba(black, 0.02),
         2px 14px 0 rgba(black, 0.02),
         3px 15px 0 rgba(black, 0.01),
         4px 16px 0 rgba(black, 0.01),
         5px 17px 0 rgba(black, 0.01),
         6px 18px 0 rgba(black, 0.01),
      
         inset 0 4px 5px -2px rgba(white, 0.5),
         inset 0 1px 0 0 rgba(black, 0.3);
    }
    &[data-type="3"] {
      @include background(linear-gradient(top, rgba(200, 20, 20, .9), rgba(210, 50, 50, .9)));
      box-shadow:
        -1px 0px 1px rgba(217, 38, 38, 1), 0px 1px 1px rgba(177, 15, 29, 1),
        -2px 1px 1px rgba(217, 38, 38, 1), -1px 2px 1px rgba(177, 15, 29, 1),
        -3px 2px 1px rgba(217, 38, 38, 1), -2px 3px 1px rgba(177, 15, 29, 1),
        -4px 3px 1px rgba(217, 38, 38, 1), -3px 4px 1px rgba(177, 15, 29, 1),
        -5px 4px 1px rgba(217, 38, 38, 1), -4px 5px 1px rgba(177, 15, 29, 1),
        -6px 5px 1px rgba(217, 38, 38, 1),
        
        -6px 7px  0 rgba(black, .05),
        -5px 8px  0 rgba(black, .05),
        -3px 9px  0 rgba(black, .04),
        -2px 10px 0 rgba(black, .04),
        -1px 11px 0 rgba(black, .03),
         0px 12px 0 rgba(black, .03),
         1px 13px 0 rgba(black, .02),
         2px 14px 0 rgba(black, .02),
         3px 15px 0 rgba(black, .01),
         4px 16px 0 rgba(black, .01),
         5px 17px 0 rgba(black, .01),
         6px 18px 0 rgba(black, .01),
      
         inset 0 4px 5px -2px rgba(white, .5),
         inset 0 1px 0 0 rgba(black, .3);
    }
    &[data-type="4"] {
      background:rgba(255, 255, 255, .3);
    }
    
    &:active,
    &:focus {
      box-shadow:none;
    }
  }

  button {
    font-variant:small-caps;
    cursor:pointer;
    font-size:1.5em;
    padding: .25em;
    width:100%;
    font-weight: bold;
    color: white;

    &:active:not([disabled="disabled"]),
    &:focus:not([disabled="disabled"]) {
      @include transform(translate3d(
         -6px, 6px, 0
      ));
    }
  }

  .creator {
    position:fixed;
    width:30%;
    top:0;
    right:0;
    z-index:1337;
    background:rgba(0, 0, 0, .1);
    color:rgba(255, 255, 255, .7);
    @include transition(all .35s ease-in-out);
    font-size: 2.1em;

    section {
      padding:0;

      > div {
        width:100%;
        padding: 0;
      }
    }

    &:hover {
      background:rgba(0, 0, 0, .9);
      color: rgba(255, 255, 255, 1);

      a {
         color: rgba(255, 255, 255, 1);
         border-right:.15em solid rgba(255, 255, 255, .95);
      }

      textarea {
        background: rgba(255, 255, 255, .95);
      }
    }

    b {
      font-family: 'Text Me One', sans-serif;
    }

    a {
      color: inherit;
      width:25%;
      float:left;
      line-height:2.25em;
      max-height:2.25em;
      text-align: center;
      border:none;
      border-right:.15em solid rgba(255, 255, 255, .4);

      &:hover {
        color: rgba(0, 0, 0, 1);
        background:rgba(255, 255, 255, .85);
      }

      &:last-child {
        border:none;
      }
    }

    nav {
      &.iconfonts {
        a {
          width:20%;
          font-size:.65em;
        }
      }
    }

    textarea {
      font-size:.55em;
      line-height:.75em;
      padding: .5em .25em 0 .25em;

      @include transition(background .25s ease-in-out);
    }
  }

  .highlight {
    text-shadow: .05em .05em .05em rgba(0, 0, 0, .2);
  }
}

/* big screens */
@media screen and (max-width: 79em) {
  body[data-theme='weloveiconfonts'] {
    section,
    footer {
      padding: 0 .75em;
    }
  }
}

/* small screens */
@media screen and (max-width: 66em) {
  body[data-theme='weloveiconfonts'] {

    h1,
    article[data-text]:after {
      font-size:2.3em;
    }

    ul {
      padding:0;

      li {
        padding:.5em 2em;
        width:25%;
        font-size:1.25em;

        &:hover {
          @include transform(none);
          padding:.5em 2em;
        }
      }
    }

    section > div {
      padding: 0 .5em;
    }

    article[data-high="3"] {
      min-height:15em;
    }

    .creator {
      width:100%;
      right:0;
      top:auto;
      bottom:0;
      background:rgba(0, 0, 0, .8);
      font-size:1.25em;

      textarea {
        font-size: .65em;
        background:rgba(255, 255, 255, .6);
      }

      section > div:nth-child(1),
      section > div:nth-child(2) {
        width:100%;
      }


      a {
        vertical-align: bottom;
      }
    }
  }
}