$bg_body: #fff;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: 400 1.2em/1.6em "Lato", sans-serif;
  color: #333;  
  background-color: $bg_body;
}

* {
  &::-moz-selection,
  &::selection { 
    color: rgba(0, 0, 0, .9);  
    background: rgba(255, 255, 255, .5);
  } 
}


.icon-font--header {
  background: #ddd;
  padding-top: .65em;

  a {
    color: $color-green;
    background: #fff;

    &:hover {
      color: #fff;
      background: $color-green;
    }
  }

  h2 {
    background: #fff;
    padding: .05em;
  }

  button {
    &[data-type="2"] {
      background: #666;
    }
  }
}