$default-font: 'Ubuntu', sans-serif;
$default-padding: 2rem;
$default-margin: 1rem;


$default-transition-duration: .25s;
$default-transition-function: ease-in-out;
$default-transition: $default-transition-duration $default-transition-function;



$color-purple: #d8a3bc;
$color-red: darken(#fbb5ae, 5%);
$color-yellow: #ffd1a9;
$color-yellow-light: #fdffa8;
$color-blue: #2ccac1;
$color-cyan: #94e5ee;
$color-green: #7cf471;
$color-green-reversed: reverse-lightness($color-green);
$color-pink: #f668ca;