@font-face {
  font-family: 'sosa';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('zocial-regular-webfont.eot');
  src: url('zocial-regular-webfont.eot?#iefix') format('eot'), 
  url('zocial-regular-webfont.woff') format('woff'), 
  url('zocial-regular-webfont.ttf') format('truetype'), 
  url('zocial-regular-webfont.svg') format('svg');
}

.sosa-warning:before {content:"!";}
.sosa-money:before {content:"$";}
.sosa-mobile:before {content:"/";}
.sosa-headphones:before {content:"0";}
.sosa-camera:before {content:"1";}
.sosa-camcorder:before {content:"2";}
.sosa-printer:before {content:"3";}
.sosa-landline:before {content:"4";}
.sosa-pda:before {content:"5";}
.sosa-tablet:before {content:"6";}
.sosa-laptop:before {content:"7";}
.sosa-monitor:before {content:"8";}
.sosa-microphone:before {content:"9";}
.sosa-television:before {content:":";}
.sosa-radio:before {content:";";}
.sosa-note:before {content:"<";}
.sosa-tetris:before {content:"=";}
.sosa-game:before {content:">";}
.sosa-question:before {content:"?";}
.sosa-video:before {content:"A";}
.sosa-startquote:before {content:"B";}
.sosa-endquote:before {content:"C";}
.sosa-code:before {content:"D";}
.sosa-bargraph:before {content:"E";}
.sosa-piechart:before {content:"F";}
.sosa-graph:before {content:"G";}
.sosa-polaroid:before {content:"H";}
.sosa-car:before {content:"J";}
.sosa-truck:before {content:"K";}
.sosa-bike:before {content:"L";}
.sosa-motorcycle:before {content:"M";}
.sosa-play:before {content:"N";}
.sosa-pause:before {content:"O";}
.sosa-stop:before {content:"P";}
.sosa-forward:before {content:"Q";}
.sosa-back:before {content:"R";}
.sosa-fastforward:before {content:"S";}
.sosa-fastback:before {content:"T";}
.sosa-altarrows:before {content:"U";}
.sosa-wrench:before {content:"V";}
.sosa-simplecog:before {content:"W";}
.sosa-cog:before {content:"X";}
.sosa-cogs:before {content:"Y";}
.sosa-chess:before {content:"Z";}
.sosa-clock:before {content:"[";}
.sosa-magnifyingleft:before {content:'\ ';}
.sosa-magnifyingright:before {content:"]";}
.sosa-zoomin:before {content:"^";}
.sosa-zoomout:before {content:"_";}
.sosa-penciltip:before {content:"`";}
.sosa-pencil:before {content:"a";}
.sosa-paperclip:before {content:"b";}
.sosa-heart:before {content:"c";}
.sosa-emptyheart:before {content:"d";}
.sosa-star:before {content:"e";}
.sosa-starempty:before {content:"f";}
.sosa-chatbubble:before {content:"g";}
.sosa-chatbubbles:before {content:"h";}
.sosa-info:before {content:"i";}
.sosa-flag:before {content:"j";}
.sosa-tag:before {content:"k";}
.sosa-tags:before {content:"l";}
.sosa-bookmark:before {content:"m";}
.sosa-map:before {content:"n";}
.sosa-pin:before {content:"o";}
.sosa-open:before {content:"p";}
.sosa-share:before {content:"q";}
.sosa-wireless:before {content:"r";}
.sosa-signal:before {content:"s";}
.sosa-twitter:before {content:"t";}
.sosa-twitterlogo:before {content:"u";}
.sosa-facebook:before {content:"v";}
.sosa-flickr:before {content:"w";}
.sosa-vimeo:before {content:"x";}
.sosa-sync:before {content:"y";}
.sosa-reload:before {content:"z";}
.sosa-plus:before {content:"{";}
.sosa-minus:before {content:"|";}
.sosa-obelus:before {content:"}";}
.sosa-multiply:before {content:"~";}
.sosa-basket:before {content:"Ä";}
.sosa-cart:before {content:"Å";}
.sosa-house:before {content:"Ç";}
.sosa-closedmail:before {content:"É";}
.sosa-openmail:before {content:"Ñ";}
.sosa-newmail:before {content:"Ö";}
.sosa-person:before {content:"Ü";}
.sosa-people:before {content:"á";}
.sosa-download:before {content:"à";}
.sosa-upload:before {content:"â";}
.sosa-link:before {content:"ä";}
.sosa-exit:before {content:"ã";}
.sosa-check:before {content:"å";}
.sosa-trash:before {content:"ç";}
.sosa-doc:before {content:"é";}
.sosa-locked:before {content:"è";}
.sosa-unlocked:before {content:"ê";}
.sosa-folder:before {content:"ë";}
.sosa-uparrow:before {content:"í";}
.sosa-downarrow:before {content:"ì";}
.sosa-north:before {content:"î";}
.sosa-south:before {content:"ï";}
.sosa-east:before {content:"ñ";}
.sosa-west:before {content:"ó";}
.sosa-sun:before {content:"ò";}
.sosa-cloud:before {content:"ô";}
.sosa-cloudsun:before {content:"ö";}
.sosa-cloudrain:before {content:"õ";}
.sosa-cloudstorm:before {content:"ú";}
.sosa-snowflake:before {content:"ù";}
.sosa-cloudsnow:before {content:"û";}
.sosa-clouddown:before {content:"ü";}
.sosa-dagger:before {content:"†";}
.sosa-cloudnote:before {content:"°";}
.sosa-pound:before {content:"£";}
.sosa-euro:before {content:"€";}
.sosa-leftarrow:before {content:"‹";}
.sosa-rightarrow:before {content:"›";}